[package]
name = "microserver"
description = "Simple ad-hoc server with SPA support based on Warp!. Excellent for testing React, Angular, Vue apps and the like."
version = "0.1.5"
authors = ["Roberto Huertas <roberto.huertas@outlook.com>"]
edition = "2018"
license = "MIT"
repository = "https://github.com/robertohuertasm/microserver"
readme = "README.md"
keywords = ["server", "spa", "simple", "http-server", "cli"]
categories = ["web-programming::http-server", "network-programming"]

exclude = [
  "index.html",
  "run.sh"
]

[badges]
maintenance = { status = "actively-developed" }
travis-ci = { repository = "robertohuertasm/microserver", branch = "master" }
azure-devops = { project = "robertohuertasm/github-oss", pipeline = "microserver", build="2" }

[dependencies]
warp = "0.1.9"
clap = "2.32.0"
console = "0.7.1"
